<p-toast position="top-left"></p-toast>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
<div class="p-1">
    <p-accordion>
        <p-accordionTab header="Search" [transitionOptions]="'100ms'"  [selected]="true">
            <div class="formControID">
                    <div class="row  search">

                        <div class="col-2">
                            <div  *ngIf="myForm.get('toDate')?.value == ''  || myForm.get('toDate')?.value == null">
                            <label for="fromDate">From Date</label>       
                            <div>
                              <p-calendar formControlName="fromDate"    dateFormat="mm/dd/yy" [showButtonBar]="true" [showIcon]="true" 
                              id="fromDate" inputId="fromDate"  name="fromDate"  [(ngModel)]="fromDate"  
                              [ngClass]="{'border-danger': myForm.get('fromDate')?.invalid && myForm.get('fromDate')?.errors &&
                              (myForm.get('fromDate')?.dirty || myForm.get('fromDate')?.touched)} "></p-calendar>
                              <div *ngIf="myForm.get('fromDate')?.invalid && myForm.get('fromDate')?.errors && (myForm.get('fromDate')?.dirty || myForm.get('fromDate')?.touched)">
                                  <div class="form-text text-danger mt-1" *ngIf="myForm.controls['fromDate']?.errors?.['required']"> fromDate is required.</div>
                               </div>
                            </div>
                            </div>

                            <div *ngIf="myForm.get('toDate')?.value !== '' &&  myForm.get('toDate')?.value !== null">
                                <label for="fromDate">From Date <span class="text-danger">*</span></label>         
                                <div>
                                  <p-calendar formControlName="fromDate"  dateFormat="mm/dd/yy" [showButtonBar]="true" [showIcon]="true" 
                                  id="fromDate" inputId="fromDate"  name="fromDate"  [(ngModel)]="fromDate"   [required]="true"
                                  [ngClass]="{'border-danger': myForm.get('fromDate')?.invalid && myForm.get('fromDate')?.errors &&
                                  (myForm.get('fromDate')?.dirty || myForm.get('fromDate')?.touched)} "></p-calendar>
                                  <div *ngIf="myForm.get('fromDate')?.invalid && myForm.get('fromDate')?.errors && (myForm.get('fromDate')?.dirty || myForm.get('fromDate')?.touched)">
                                      <div class="form-text text-danger mt-1" *ngIf="myForm.controls['fromDate']?.errors?.['required']"> fromDate is required.</div>
                                   </div>
                                </div>
                                </div>

                     
                        </div>

                        <div class="col-2">
                            <div *ngIf="myForm.get('fromDate')?.value == '' || myForm.get('fromDate')?.value == null">
                            <label for="toDate">To Date</label>
                              <p-calendar formControlName="toDate"  dateFormat="dd/mm/yy" [showButtonBar]="true" [showIcon]="true" 
                              id="toDate" inputId="toDate"  name="toDate"  [(ngModel)]="toDate" [required]="false"
                              [ngClass]="{'border-danger': myForm.get('toDate')?.invalid && myForm.get('toDate')?.errors &&
                              (myForm.get('toDate')?.dirty || myForm.get('toDate')?.touched)} "></p-calendar>
                              <div *ngIf="myForm.get('toDate')?.invalid && myForm.get('toDate')?.errors && (myForm.get('toDate')?.dirty || myForm.get('toDate')?.touched)">
                                  <div class="form-text text-danger mt-1" *ngIf="myForm.controls['toDate']?.errors?.['required']"> toDate is required.</div>
                               </div>
                            </div>

                            <div *ngIf="myForm.get('fromDate')?.value !== '' && myForm.get('fromDate')?.value !== null">
                                <label for="toDate">To Date <span class="text-danger">*</span></label>
                                <p-calendar formControlName="toDate"  dateFormat="dd/mm/yy" [showButtonBar]="true" [showIcon]="true" 
                                id="toDate" inputId="toDate"  name="toDate"  [(ngModel)]="toDate"  [required]="true"
                                [ngClass]="{'border-danger': myForm.get('toDate')?.invalid && myForm.get('toDate')?.errors &&
                                (myForm.get('toDate')?.dirty || myForm.get('toDate')?.touched)} "></p-calendar>
                                
                                <div *ngIf="myForm.get('toDate')?.invalid && myForm.get('toDate')?.errors && (myForm.get('toDate')?.dirty || myForm.get('toDate')?.touched)">
                                    <div class="form-text text-danger mt-1" *ngIf="myForm.controls['toDate']?.errors?.['required']"> toDate is required.</div>
                                 </div>

                            </div>

                        </div>
                   

                        <div class="col-2">
                            <label for="userName">User Name </label>
                            <input type="text" formControlName="userName"  class="form-control" id="userName"  [(ngModel)]="userName"
                            [ngClass]="{'border-danger': myForm.get('userName')?.invalid && myForm.get('userName')?.errors &&
                            (myForm.get('userName')?.dirty || myForm.get('userName')?.touched)}  " >
                            <div *ngIf="myForm.get('userName')?.invalid && myForm.get('userName')?.errors && (myForm.get('userName')?.dirty || myForm.get('userName')?.touched)">
                                <div class="form-text text-danger mt-1" *ngIf="myForm.controls['userName']?.errors?.['required']"> userName is required.</div>
                             </div>
                        </div>

                        <div class="col-2">
                            <label for="userAction">User Action </label>
                            <input type="text" formControlName="userAction"  class="form-control" id="userAction"  [(ngModel)]="userAction"
                            [ngClass]="{'border-danger': myForm.get('userAction')?.invalid && myForm.get('userAction')?.errors &&
                            (myForm.get('userAction')?.dirty || myForm.get('userAction')?.touched)}  " >
                            <div *ngIf="myForm.get('userAction')?.invalid && myForm.get('userAction')?.errors && (myForm.get('userAction')?.dirty || myForm.get('userAction')?.touched)">
                                <div class="form-text text-danger mt-1" *ngIf="myForm.controls['userAction']?.errors?.['required']"> userAction is required.</div>
                             </div>
                        </div>

            

                
                        <div class="actions">
                            <p-button label="Search" type="submit" icon="pi pi-search" styleClass="p-button-success p-search btnNew" [disabled]="myForm.invalid"> </p-button>
                            <p-button label="Reset" type="button" icon="pi pi-refresh" styleClass="p-button-secondary btnNew " [style]="{'margin-left': '.5em'}"  data-dismiss="modal" (click)="reset()"></p-button>
                        </div>
                   
                  
                
                    </div>
            
        
            
            
            
            </div>

       
        </p-accordionTab>
    </p-accordion>

</div>

</form>
