.slider-button {
  padding: 0px 50px;
  position: absolute;
  z-index: 5;
  top: 5%;
  border-radius: 20px;
  border: 3px solid #fff;
  background: linear-gradient(60deg,#f79533,#f37055,#ef4e7b,#a166ab,#5073b8,#1098ad,#07b39b,#6fba82);
}
.login{
  right: 5%;
}

.signin{
  right: 17%;
}

.userName{
  right: 20%;
}
