<input id="sidebar-toggle" type="checkbox" />

<div class="sidebar main-color" >
  <div class="sidbar-header">
  <div class="sidebar-menu" >
    <ul>
        <li routerLinkActive="active">
            <a routerLink="/dashboard" title="Home">
              <span class="fa fa-tachometer  icon-navbar" ></span>
              <p>dashboard</p>
            </a>
          </li>

          <li routerLinkActive="active">
            <a routerLink="/role" title="role">
              <span class="fa fa-file-text-o  icon-navbar" ></span>
              <p>Role Page</p>
            </a>
          </li>

          <li routerLinkActive="active">
            <a routerLink="/hierarchy" title="hierarchy">
              <span class="fa fa-sitemap  icon-navbar" ></span>
              <p>Hierarchy Page</p>
            </a>
          </li>




    </ul>
  </div>
</div>

<!-- Content -->
<div class="main-content">
 <!-- <app-navbar></app-navbar> -->
 <header>
    <div style="display: flex">
      <label for="sidebar-toggle" class="fa fa-bars memu-icon" title="collapse"></label>

      <div class="logomtsit">
      </div>
    </div>
    <h3 class="brand">title</h3>
    <div style="display: inline-flex; margin-left: 40px; border: 1px solid #d9dce0">
      <div class="dropdown">
        <button
          class="btn btn dropdown-toggle" type="button" id="dropdownMenuButton"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user"></i> {{userName}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li class="dropdown-item" routerLink="" (click)="logout()">
            <a style="color: #000"> <i class="fa fa-lock"></i> Logout </a>
          </li>
        </ul>
      </div>
    </div>
</header>

  <main>
    <div class="container-fluid" >
      <div style="background: white;margin-top: 60px; margin-left: -14px;margin-right: -15px;border-radius: inherit; height: 100vh;">
        <router-outlet></router-outlet>
        <app-navbar></app-navbar>
     </div>
    </div>
  </main>
</div>


